html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff; }

a {
  outline: none;
  cursor: pointer; }

a img {
  border: none;
  cursor: pointer; }

img {
  vertical-align: bottom; }

p {
  margin: 0 0 20px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700; }

strong, b {
  font-weight: 700; }

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

hr {
  border: 0; }

*:focus, *:active {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans' ,sans-serif;
  position: relative; }

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%; }

.wrapper {
  background-image: url(../image/site-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100%; }

header {
  background-color: #282828;
  padding-bottom: 9px; }
  header:after {
    content: '';
    display: block;
    clear: both; }

.in {
  margin-left: auto;
  margin-right: auto;
  max-width: 1178px; }

.button {
  background-color: #ff6c00;
  color: #fff;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  box-shadow: inset -1px -3px 0px 0px #c05100;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-top: 13px;
  border-radius: 7px;
  text-decoration: none;
  float: right; }

.tel {
  text-align: center;
  display: inline-block;
  margin-left: 459px;
  margin-bottom: 2px; }
  .tel span {
    font-size: 12px;
    font-weight: 400;
    color: #9e9e9e;
    font-family: 'Open Sans' , sans-serif;
    display: block; }
  .tel em {
    font-style: normal;
    color: #a4a4a4; }
  .tel a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: "Times New Roman" , sans-serif; }

main {
  padding-top: 37px; }
  main h1 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center; }
  main h2 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    margin-bottom: 55px; }

.left {
  float: left;
  max-width: 441px; }
  .left p {
    font-family: "Open Sans" , sans-serif; }
  .left p:nth-child(1) {
    text-transform: uppercase;
    color: #282828;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0; }
  .left p:nth-child(2) {
    text-transform: uppercase;
    color: #ff6c00;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: -4px; }
  .left .text {
    max-width: 340px;
    line-height: 26px;
    margin-left: 5px;
    color: #3f3f3f;
    margin-bottom: 50px; }
  .left p:nth-child(5) {
    max-width: 381px;
    font-size: 14px;
    margin-bottom: 30px; }
    .left p:nth-child(5) img {
      float: left;
      margin-right: 24px; }
  .left p:nth-child(6) {
    max-width: 381px;
    font-size: 14px; }
    .left p:nth-child(6) img {
      float: left;
      margin-right: 24px;
      margin-bottom: 70px; }

.middle {
  display: inline-block; }
  .middle img {
    display: block; }
  .middle .tabs {
    text-align: center; }
  .middle .img {
    display: none;
    margin-top: -10px; }
  .middle a {
    width: 31px;
    height: 31px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #b8b8b8;
    box-sizing: border-box;
    margin-right: 13px;
    margin-top: 15px; }
  .middle .active {
    display: block; }
  .middle a:nth-child(1) {
    background-color: #f23f45; }
  .middle a:nth-child(2) {
    background-color: #f9bd01; }
  .middle a:nth-child(3) {
    background-color: #fff; }

.right {
  float: right;
  display: inline-block; }
  .right p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 5px; }
  .right .digitaltime {
    display: inline-block;
    margin-right: 10px; }
  .right .time {
    margin-bottom: 21px; }
    .right .time span {
      background-image: url(../image/timer_icon.png);
      width: 44px;
      height: 66px;
      display: inline-block;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 46px;
      text-align: center; }
    .right .time em {
      font-style: normal;
      display: block;
      text-align: center; }
  .right fieldset {
    border-radius: 10px 10px;
    max-width: 278px; }
    .right fieldset legend {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      padding-left: 14px;
      padding-right: 10px; }
    .right fieldset p {
      max-width: 283px;
      text-align: center;
      font-size: 14px;
      margin-top: -10px;
      margin-bottom: 15px; }
    .right fieldset input {
      display: block;
      margin-left: 8px;
      width: 257px;
      height: 30px;
      margin-bottom: 13px;
      border: 1px solid #c0c0c0;
      padding-top: 2px;
      padding-bottom: 4px; }
  .right .button {
    margin-right: 44px;
    margin-top: 7px; }

/*# sourceMappingURL=style.css.map */
