html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff; }

a {
  outline: none;
  cursor: pointer; }

a img {
  border: none;
  cursor: pointer; }

img {
  vertical-align: bottom; }

p {
  margin: 0 0 20px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700; }

strong, b {
  font-weight: 700; }

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

hr {
  border: 0; }

*:focus, *:active {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans' ,sans-serif;
  position: relative; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%; }

.wrapper {
  background-image: url(../image/bg-site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100%; }

header {
  background-color: #282828;
  padding-bottom: 9px;
  padding-top: 5px; }
  header:after {
    content: '';
    display: block;
    clear: both; }

.in {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.button {
  background-color: #ff6c00;
  color: #fff;
  padding-left: 13px;
  padding-right: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  box-shadow: inset -1px -3px 0px 0px #c05100;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-top: 13px;
  border-radius: 7px;
  text-decoration: none;
  float: right; }

.tel {
  text-align: center;
  display: inline-block;
  margin-left: 459px;
  margin-bottom: 2px; }
  .tel span {
    font-size: 12px;
    font-weight: 400;
    color: #9e9e9e;
    font-family: 'Open Sans' , sans-serif;
    display: block;
    margin-left: -27px;
    line-height: 12px; }
  .tel em {
    font-style: normal;
    color: #a4a4a4;
    font-weight: 400; }
  .tel a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: "Open Sans" , sans-serif;
    font-weight: bold;
    margin-left: -4px; }

.logo {
  margin-left: 29px; }

main {
  padding-top: 35px; }
  main h2 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    margin-left: 70px;
    letter-spacing: 1px;
    font-size: 35px; }
    main h2 span {
      font-family: 'Open Sans' , sans-serif;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0px;
      color: #282828;
      line-height: normal;
      text-align: center;
      margin-bottom: 55px;
      margin-left: -48px;
      display: block; }

.part1 {
  margin-bottom: 22px; }
  .part1 .left {
    float: left;
    max-width: 441px;
    margin-left: 24px; }
    .part1 .left p {
      font-family: "Open Sans" , sans-serif; }
    .part1 .left h3 {
      text-align: left;
      text-transform: uppercase;
      color: #282828;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 0;
      margin-left: 2px; }
      .part1 .left h3 span {
        text-transform: uppercase;
        color: #ff6c00;
        font-weight: 700;
        font-size: 29px;
        line-height: 37px;
        margin-bottom: 21px;
        display: block; }
    .part1 .left .text {
      max-width: 340px;
      line-height: 26px;
      margin-left: 5px;
      color: #3f3f3f;
      margin-bottom: 45px;
      font-weight: 400; }
    .part1 .left p:nth-child(3) {
      max-width: 381px;
      font-size: 14px;
      margin-bottom: 30px;
      font-weight: 400; }
      .part1 .left p:nth-child(3) img {
        float: left;
        margin-right: 16px; }
    .part1 .left p:nth-child(4) {
      max-width: 381px;
      font-size: 14px;
      font-weight: 400; }
      .part1 .left p:nth-child(4) img {
        float: left;
        margin-right: 18px;
        margin-bottom: 70px; }
  .part1 .middle {
    display: inline-block; }
    .part1 .middle img {
      display: block; }
    .part1 .middle .tabs {
      text-align: center; }
    .part1 .middle .img {
      display: none;
      margin-top: -10px; }
    .part1 .middle a {
      width: 31px;
      height: 31px;
      display: inline-block;
      border-radius: 50%;
      border: 3px solid #b8b8b8;
      box-sizing: border-box;
      margin-right: 13px;
      margin-top: 15px; }
    .part1 .middle .active {
      display: block; }
    .part1 .middle a:nth-child(1) {
      background-color: #f23f45; }
    .part1 .middle a:nth-child(2) {
      background-color: #f9bd01; }
    .part1 .middle a:nth-child(3) {
      background-color: #fff; }
  .part1 .right {
    float: right;
    display: inline-block;
    margin-right: -10px; }
    .part1 .right p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-top: 4px;
      font-weight: 400; }
    .part1 .right .digitaltime {
      display: inline-block;
      margin-right: 10px; }
    .part1 .right .time {
      margin-bottom: 25px; }
      .part1 .right .time span {
        background-image: url(../image/timer_icon.png);
        width: 44px;
        height: 66px;
        display: inline-block;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 46px;
        text-align: center; }
      .part1 .right .time em {
        font-style: normal;
        display: block;
        text-align: center;
        margin-left: -9px;
        margin-top: 1px; }
    .part1 .right fieldset {
      border-radius: 8px 8px;
      max-width: 280px;
      margin-left: 1px; }
      .part1 .right fieldset legend {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-left: 15px;
        padding-right: 10px;
        margin-bottom: 5px;
        text-transform: uppercase; }
      .part1 .right fieldset p {
        max-width: 283px;
        text-align: center;
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 15px;
        color: #878787;
        line-height: 19px;
        margin-left: 9px; }
      .part1 .right fieldset input {
        display: block;
        margin-left: 6px;
        width: 252px;
        height: 29px;
        margin-bottom: 13px;
        border: 1px solid #c0c0c0;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        font-size: 14px;
        box-shadow: inset 0px 1px 2px 0px silver; }
    .part1 .right .button {
      margin-right: 50px;
      margin-top: 7px;
      padding-left: 17px;
      padding-right: 14px; }

.main_bar {
  padding-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1357px;
  background-color: #fff;
  padding-bottom: 113px;
  border-radius: 6px;
  box-shadow: 0px 4px 0px 0px rgba(208, 208, 208, 0.5);
  margin-bottom: 55px; }
  .main_bar span {
    display: block;
    font-size: 15px;
    margin-left: 9px;
    margin-bottom: 15px;
    margin-top: 21px; }
  .main_bar b {
    display: block; }

h2 {
  font-family: 'Open Sans' , sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0px;
  color: #282828;
  line-height: normal;
  text-align: center;
  font-size: 38px;
  margin-left: 9px;
  margin-bottom: 50px; }

.small_blocks {
  display: inline-block;
  text-align: center;
  margin-top: 16px;
  max-width: calc(28% - 2px);
  vertical-align: middle;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 2px; }
  .small_blocks img {
    vertical-align: top; }
  .small_blocks h4 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #282828;
    line-height: 35px; }
  .small_blocks p:nth-child(3) {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    color: #797979;
    line-height: 22px; }

.small_blocks:nth-child(3) {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  margin-right: -45px;
  padding-left: 46px;
  padding-right: 46px; }

.small_blocks:nth-child(4) {
  margin-left: 106px;
  margin-top: -75px; }
  .small_blocks:nth-child(4) img {
    margin-bottom: 4px; }
  .small_blocks:nth-child(4) p {
    margin-left: 3px; }

.small_blocks:nth-child(5) {
  margin-left: -109px;
  margin-top: 5px; }

.part2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1132px;
  margin-bottom: 71px; }
  .part2 h1 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    font-size: 38px;
    margin-bottom: 49px;
    margin-left: 24px; }
    .part2 h1 span {
      display: block;
      font-size: 19px;
      margin-top: 4px;
      font-weight: 400;
      font-family: 'Open Sans';
      color: #7f7f7f;
      margin-bottom: 0px;
      margin-left: -16px; }
  .part2 .left iframe {
    width: 510px;
    height: 330px;
    margin-bottom: 17px; }
  .part2 .left {
    max-width: 542px;
    margin-left: 28px; }
    .part2 .left:after {
      content: '';
      display: block;
      clear: both; }
  .part2 .left img {
    margin-right: 0px;
    margin-left: 2px; }
  .part2 .right {
    min-width: 546px;
    min-height: 438px;
    margin-top: -3px; }
  .part2 .tabs {
    float: right;
    position: absolute;
    right: 374px; }
    .part2 .tabs:after {
      display: block;
      clear: both;
      content: ''; }
    .part2 .tabs a {
      width: 31px;
      height: 31px;
      display: block;
      border-radius: 50%;
      border: 3px solid #b8b8b8;
      box-sizing: border-box;
      margin-right: 13px;
      margin-top: 15px;
      margin-left: 23px; }
    .part2 .tabs span {
      text-align: center;
      display: block; }
  .part2 .tabs a:nth-child(2) {
    background-color: #f23f45; }
  .part2 .tabs a:nth-child(3) {
    background-color: #f9bd01; }
  .part2 .tabs a:nth-child(4) {
    background-color: #fff; }
  .part2 .price {
    text-align: center;
    margin-left: 15px; }
  .part2 .price span:nth-child(1) {
    font-size: 38px;
    text-decoration: line-through;
    color: #8f8f8f;
    margin-right: 117px; }
  .part2 .price span:nth-child(2) {
    margin-left: -97px;
    margin-right: 20px;
    font-size: 26px;
    color: #8f8f8f; }
  .part2 .price b {
    font-weight: 700;
    font-size: 35px;
    color: #282828; }
  .part2 .button {
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 31px;
    padding-top: 15px;
    padding-bottom: 13px;
    text-align: center;
    margin-right: 147px;
    font-size: 20px; }

.imgs {
  margin-top: 552px; }
  .imgs img {
    margin-bottom: 19px;
    margin-right: 4px;
    margin-left: 24px;
    margin-top: 12px; }

.part3 {
  padding-top: 7px;
  margin-bottom: 60px; }
  .part3 h1 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    font-size: 38px;
    margin-bottom: 65px;
    margin-left: 20px; }
  .part3 .littleblocks {
    display: inline-block;
    vertical-align: middle;
    max-width: 183px;
    margin-right: 12px;
    margin-left: 35px; }
    .part3 .littleblocks img {
      margin-bottom: 16px; }
  .part3 img {
    vertical-align: baseline;
    margin-left: 12px; }
  .part3 h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; }
  .part3 p:nth-child(3) {
    font-size: 15px; }

.part2-2 {
  padding-top: 42px;
  padding-bottom: 111px; }
  .part2-2 img {
    margin-top: -43px;
    margin-bottom: 44px; }
  .part2-2 h2 {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    color: #282828;
    line-height: normal;
    text-align: center;
    font-size: 38px !important;
    margin-left: 19px;
    margin-bottom: 64px; }
    .part2-2 h2 span {
      display: block;
      font-size: 17px;
      margin-top: 4px;
      font-weight: 400;
      font-family: 'Open Sans';
      color: #7f7f7f;
      margin-left: auto;
      margin-right: auto;
      max-width: 887px;
      margin-top: 16px; }
    .part2-2 h2 b {
      display: block;
      margin-top: 14px;
      font-size: 16px;
      margin-left: 7px; }
    .part2-2 h2 a {
      display: block;
      text-decoration: underline;
      color: #ff6c00;
      text-align: center;
      font-size: 13px;
      margin-top: 10px;
      margin-left: 6px;
      font-weight: 500; }
  .part2-2 .underimg {
    max-width: 280px;
    margin-left: 473px;
    margin-top: 20px;
    font-size: 13px; }
    .part2-2 .underimg b {
      text-transform: uppercase;
      margin-bottom: 12px;
      font-size: 14px; }
  .part2-2 b {
    display: block; }
  .part2-2 .left span {
    text-transform: none;
    color: #282828;
    text-align: left;
    display: block;
    margin-bottom: 23px;
    line-height: 23px;
    font-size: 13px; }
    .part2-2 .left span h5 {
      text-transform: uppercase;
      display: block;
      text-align: left;
      font-size: 14px;
      font-weight: bold; }
  .part2-2 .right span {
    text-transform: none;
    color: #282828;
    text-align: left;
    display: block;
    margin-bottom: 20px;
    line-height: 21px;
    font-size: 13px; }
    .part2-2 .right span h5 {
      text-transform: uppercase;
      display: block;
      text-align: left;
      margin-top: 14px;
      font-size: 14px;
      margin-left: 0px;
      font-weight: bold; }
  .part2-2 .left {
    margin-left: 28px;
    max-width: 336px; }
    .part2-2 .left:after {
      content: '';
      clear: both;
      display: block; }
  .part2-2 .right {
    margin-right: -39px;
    max-width: 336px;
    margin-top: -670px; }
    .part2-2 .rightafter {
      content: '';
      clear: both;
      display: block; }

.aftermain {
  margin-top: 87px; }
  .aftermain p {
    font-size: 30px;
    margin-left: 25px;
    display: inline-block;
    font-weight: bold; }
  .aftermain .button {
    font-size: 21px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 0; }

footer {
  background-color: #282828;
  margin-top: 10px;
  padding-top: 19px;
  padding-bottom: 43px; }
  footer span {
    display: inline-block;
    margin-top: 13px;
    margin-left: 25px;
    max-width: 353px;
    font-size: 15px;
    font-weight: 500;
    color: #fff; }
  footer .tel {
    margin-left: 459px;
    margin-bottom: 2px;
    float: right;
    margin-top: 11px; }
    footer .tel a {
      font-size: 34px; }

@media screen and (max-width: 1300px) {
  .part1 .right {
    margin-right: 8px; }

  .tel {
    margin-left: 209px;
    transition: all 1.0s;
    transition-delay: 0s;
    -webkit-transition-delay: .7s;
    transition-delay: -0.3s; }
    .tel span {
      font-size: 16px; } }
@media screen and (max-width: 1200px) {
  .part1 .right {
    display: contents; }
    .part1 .right p:nth-child(1) {
      font-size: 44px;
      transition: all 0.8s ease 0s; }
    .part1 .right .time {
      text-align: center;
      transition: all 0.8s ease 0s; }
      .part1 .right .time em {
        transition: all 0.8s ease 0s;
        font-size: 27px; }
    .part1 .right fieldset {
      margin-left: 185px;
      padding-left: 200px;
      padding-right: 200px;
      transition: all 0.8s ease 0s; }
      .part1 .right fieldset p {
        font-size: 24px;
        transition: all 0.8s ease 0s; }
      .part1 .right fieldset input {
        font-size: 20px; }

  .part1 .left {
    margin-right: 196px; }

  .part2-2 {
    display: none; }

  .part3 {
    transition: all 0.8s ease 0s; }

  .small_blocks:nth-child(4) {
    margin-left: 86px;
    margin-top: 83px; } }
@media screen and (max-width: 1000px) {
  .tel {
    display: none; }

  .part1 .left p:nth-child(1) {
    margin-left: 33px;
    transition: all 0.8s ease 0s; }
  .part1 .left p:nth-child(2) {
    margin-left: 33px;
    transition: all 0.8s ease 0s; }
  .part1 .left .text {
    transition: all 0.8s ease 0s;
    margin-left: 33px;
    font-size: 31px;
    line-height: 38px; }
  .part1 .left p:nth-child(4) {
    transition: all 0.8s ease 0s;
    font-size: 22px; }
  .part1 .left p:nth-child(5) {
    transition: all 0.8s ease 0s;
    font-size: 22px; } }
@media screen and (max-width: 900px) {
  fieldset {
    display: none; } }
@media screen and (max-width: 800px) {
  .small_blocks {
    display: block;
    transition: all 0.8s ease 0s;
    max-width: calc(136% - 2px);
    margin-bottom: 68px; }
    .small_blocks p {
      font-size: 24px !important; }

  .small_blocks:nth-child(4) {
    margin-left: 39px;
    margin-top: 0; } }
@media screen and (max-width: 500px) {
  header .button {
    float: left;
    transition: all 0.8s ease 0s;
    margin-left: 32px; }

  .part1 .left p:nth-child(1) {
    margin-left: 33px;
    transition: all 0.8s ease 0s; }
  .part1 .left p:nth-child(2) {
    margin-left: 33px;
    transition: all 0.8s ease 0s; }
  .part1 .left .text {
    transition: all 0.8s ease 0s;
    margin-left: 33px;
    font-size: 31px;
    line-height: 38px; }
  .part1 .left p:nth-child(4) {
    transition: all 0.8s ease 0s;
    font-size: 22px; }
  .part1 .left p:nth-child(5) {
    transition: all 0.8s ease 0s;
    font-size: 22px; }

  .part1 .middle img {
    margin-left: 68px;
    transition: all 0.8s ease 0s; }
  .part1 .middle .tabs {
    margin-left: 74px; }

  .part2 .right {
    display: none; }

  .part2 .left img {
    display: none; }

  iframe {
    display: none; }

  .imgs img {
    margin-left: 43px;
    transition: all 0.8s ease 0s; }

  .part2 h1 {
    margin-bottom: -521px; }

  .part3 .littleblocks p {
    font-size: 20px; }

  .main_bar span {
    font-size: 23px; }
  .main_bar .small_blocks:nth-child(5) {
    margin-left: 51px;
    margin-top: 5px; }

  .aftermain .button {
    margin-top: -46px;
    margin-right: 78px; } }

/*# sourceMappingURL=style.css.map */
